  :root {
      --blue-color: #0D47A1;
      --white-color: #FFFFFF;
      --green-color: #4CAF50;
      --white-blue-color: #03A9F4;
      --white-yellow-color: #ab9f2e;
      --white-orange-color: #FF9800;
      --white-bg-color: #e2e2e2;
      --black-bg-color: #121215;
  }

  body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #f8f9fa;
      color: #333;
      margin: 0;
      padding: 0;
  }

  .container {
      max-width: 600px;
      margin: 50px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  h1 {
      margin-bottom: 20px;
  }

  #question {
      font-size: 24px;
      margin-bottom: 20px;
  }

  .choices {
      display: flex;
      flex-direction: column;
      gap: 10px;
  }

  .choice {
      background-color: #e9ecef;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .choice:hover {
      background-color: #ced4da;
  }

  #result {
      display: none;
      font-size: 20px;
      font-weight: bold;
      margin-top: 20px;
  }

  #time {
      font-size: 20px;
      margin-bottom: 10px;
  }

  #back {
      font-size: 20px;
      background-color: var(--blue-color);
      color: var(--white-color);
      outline: none;
      border-radius: 8px;
      border: none;
      padding: 8px 15px;
      margin-top: 30px;
  }

  #next {
      font-size: 20px;
      background-color: var(--blue-color);
      color: var(--white-color);
      outline: none;
      border-radius: 8px;
      border: none;
      padding: 8px 15px;
      margin-top: 30px;
  }

  #submit {
      font-size: 20px;
      background-color: var(--blue-color);
      color: var(--white-color);
      outline: none;
      border-radius: 8px;
      border: none;
      padding: 8px 15px;
      margin-top: 30px;
  }